:root {
    --bg-color: #1B3446;
    --card-color: #001E2D;
    --font-color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 1.25rem;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 0.1px);
    color: var(--font-color);

}


/* ========================================================= */

.container {
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(60, 236, 215, 0.25);
    max-width: 500px;
    background-color: var(--card-color);
}
.container article div:first-child{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("1.png");
    background-size: cover;
    border: 2px solid var(--font-color);
}
.container article:first-child div:last-child h2{
    margin-bottom: -0.5rem;
}

.container article:first-child{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 1.5rem;
    
}
.container article div:nth-child(2){
    margin-left: 1.5rem;
    
}
.container article:nth-child(2){
    margin-bottom: 1.5rem;
}
.container:last-child{
    font-size: 3rem;

}
